/* Login in */
.login-btn {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}


/* 로그인/로그아웃 텍스트 */
.login-text {
  margin-left: 8px;
}


/* menu */
.nav-logo {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none !important;
  color: #333 !important;
}

.menu-area {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid #82dc28;
}

.menu-list {
  display: flex; 
  list-style-type: none;
  flex-wrap: nowrap; /* 줄바꿈을 방지 */
}

.menu-list li {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  padding: 0px 12px 0px 0px; /* Top Right Bottom Left */
}

.menu-list li:last-child {
  padding-right: 0;
}

.menu-list li:hover, 
.menu-list li.active {
  background-color: beige;
}

/* hamburger-menu */
.side-menubar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #212529;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.side-menubar.open {
  transform: translateX(0);
}

.side-menu-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.close-icon {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.side-menus {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu-list {
  padding: 15px 20px;
  color: white;
  cursor: pointer;
}

.side-menu-list:hover {
  background-color: #3c4044;
}

/* hamburger icon */
.hamburger-icon {
  display: none;
  font-size: 1.4rem;
  cursor: pointer;
  position: absolute; 
  left: 15px; 
  top: 25px;
  transform: translateY(-50%); 
}

/* search area */
.search-area {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  margin-left: auto;
}

.search-input {
  display: block;
  border: none;
  margin-left: 5px;
  padding: 5px; 
}

.search-input:focus {
  outline: none;
  border-bottom: 3px solid #cfe2ff;
  border-left: none;
  border-right: none;
  border-top: none;
}

.search-input.visible {
  display: inline-block;
  transition: width 0.3s ease; 
}


/* Login */
.login-container {
  max-width: 800px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  width: 100%;
  margin: 0;
}

.login-input {
  width: 100%;
  margin: 0;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.find-id-password {
  font-size: 0.9rem;
  color: #007bff; /* Bootstrap 기본 링크 색상 */
  text-decoration: none;
}

/* Card */
.product-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  height: 250px;
}

.product-card-container:hover {
  transform: translateY(-5px); 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product-card-container img {
  max-width: 100%;
  /* width: 100%; */
  height: 150px;
  object-fit: cover;/* 이미지가 잘리지 않고 꽉 차도록 설정 */
  border-radius: 5px;
}

/* New badge */
.new-badge {
  position: absolute;
  top: -10px; 
  right: -10px;
  background-color: #ff7878; 
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: bold;
}

.product-img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card-title {
  color: #202122;
  font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
}

.product-card-typography {
  color: #202122;
  font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: .95rem;
  font-weight: 400;
  letter-spacing: .01rem;
  line-height: 1.4rem;
}

.product-tagline {
  font-weight: 200;
}

.product-sale-badge {
  background-color: #b50202; 
  color: white;
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  font-size: 0.75rem;
  font-weight: bold;
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  margin-left: 10px; 
  vertical-align: middle; 
}

.product-detail-container {
  padding: 20px;
}

.product-detail-img {
  margin-top: 10px;
  border-radius: 20px;
}

.product-detail-info {
  padding: 50px;
}


/* Show hamburger menu and search icon when window size is less than 450px */
@media screen and (max-width: 772px) {
  .hamburger-icon {
    display: block;
  }

  .menu-list {
    display: none;
  }

  .nav-logo img{
    width: 200px;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
  }

  .login-txt {
    display: none;
  }

  .search-area {
    flex-shrink: 0;
    position: absolute; 
    right: 25px;
    top: 5px;
  }
  
  .search-input {
    display: none;
  }

  .search input.search-input {
    display: block; /* 아이콘 클릭 시 인풋박스 보이기 */
    border-bottom: 3px solid #cfe2ff;
  }

  .login-container {
    max-width: 300px;
  }

  .product-detail-img{
    border-radius: 10px;
    width: 100%;
    margin: 0px;
  }

  .product-detail-info {
    padding-top: 5px;
  }
}